.restaurantCardImages {
  height: 200px;
  width: 120px;
}

#restpage {
  margin-block-start: 25px;
}

#restaurantcard {
  padding-inline: 8px;
  margin-inline: 5px;
  margin-block-start: 25px;
}

#newrestaurant {
  margin-block: 30px;
}

.dishImages {
  height: 300px;
  width: 120px;
}

.restCards {
  padding-inline: 5px;
}

#restaurantFormContainer, #dishesFormContainer {
  border: solid black 2px ;
  border-radius: 10px;
  padding-block: 10px;
  margin: 20px;
}